body {
    background-color: #efeee7;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px
    color: {#333333};
    margin 0px;
    padding: 0px;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    padding: 20px 0;
    margin: 0;
    margin-left: 10;
    text-align: center
}

h2 {
    font-size: 24px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

#main-bio, #contact-info, #bio-image {
    float: left;
}
#main-bio {
    width: 70%;
}

a:link {
    color: #d21034;
}

#contact-info {
    width: 30%;
    line-height: 48px;
}

#bio-image {
    width: 200px;
    margin-right: 50px;
}

